@import "tailwindcss";               

@font-face {
   font-family: modamBold;
   src: url('/font/Modam-SemiBold.ttf');
 }


 @font-face {
   font-family: modamRegular;
   src: url('/font/Modam-Regular.ttf');
 }

@theme {
  --font-modamBold: modamBold;
  --font-modamRegular: modamRegular;
}

